Repository custouch/semantic-kernel-ERNIE-Bot, changes with the labels that .github/labeler.yml gives for each.
All labels: sdk, sk, documentation, test, sample

.github/labeler.yml:

sdk:
  - src/ERNIE-Bot.SDK/**
  - tests/ERNIE-Bot.SDK.Tests/**

sk:
  - src/ERNIE-Bot.SemanticKernel/**
  - tests/ERNIE-Bot.SemanticKernel.Tests/**

documentation:
  - docs/**
  - '**/*.md'

test:
  - tests/**

sample:
  - samples/**

update sk version to 1.0.0-beta6 (#68)
  .github/workflows/nuget-build.yml
  Directory.Packages.props
  samples/ERNIE-Bot-Kernel-Memory.Sample/ERNIE-Bot-Kernel-Memory.Sample.csproj
  samples/ERNIE-Bot.Sample/ERNIE-Bot.Sample.csproj
  samples/SK-ERNIE-Bot.Sample/Controllers/ApiController.cs
  samples/SK-ERNIE-Bot.Sample/Program.cs
  samples/SK-ERNIE-Bot.Sample/SK-ERNIE-Bot.Sample.csproj
  src/Directory.Build.props
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatResult.cs
Labels: sk, sample

update ci
  .github/workflows/nuget-build.yml
Labels: none

Update nuget-build.yml
  .github/workflows/nuget-build.yml
Labels: none

add RateLimitedClient
  Directory.Packages.props
  src/ERNIE-Bot.SDK/ERNIE-Bot.SDK.csproj
  src/ERNIE-Bot.SDK/HttpClientProvider.cs
Labels: sdk

🔀 Remove DelayHttpHandler and update HttpClient usage
  Directory.Packages.props
  samples/ERNIE-Bot-Kernel-Memory.Sample/DelayHttpHandler.cs
  samples/ERNIE-Bot-Kernel-Memory.Sample/Program.cs
  src/ERNIE-Bot.KernelMemory/ERNIEBotTextEmbeddingGeneration.cs
  src/ERNIE-Bot.SDK/ERNIEBotClient.cs
  src/ERNIE-Bot.SDK/HttpClientProvider.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatResult.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotEmbeddingGeneration.cs
Labels: sdk, sk, sample

update sample
  samples/ERNIE-Bot-Kernel-Memory.Sample/Program.cs
Labels: sample

Add Rate Limited (#73)
  Directory.Packages.props
  samples/ERNIE-Bot-Kernel-Memory.Sample/DelayHttpHandler.cs
  samples/ERNIE-Bot-Kernel-Memory.Sample/Program.cs
  src/ERNIE-Bot.KernelMemory/ERNIEBotTextEmbeddingGeneration.cs
  src/ERNIE-Bot.SDK/ERNIE-Bot.SDK.csproj
  src/ERNIE-Bot.SDK/ERNIEBotClient.cs
  src/ERNIE-Bot.SDK/HttpClientProvider.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatResult.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotEmbeddingGeneration.cs
Labels: sdk, sk, sample

🔀 Add system parameter to ERNIEBotChatCompletion
  samples/SK-ERNIE-Bot.Sample/Controllers/ApiController.cs
  src/ERNIE-Bot.SDK/Models/ChatRequest.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
Labels: sdk, sk, sample

🔀 Add system parameter to ERNIEBotChatCompletion (#76)
  samples/SK-ERNIE-Bot.Sample/Controllers/ApiController.cs
  src/ERNIE-Bot.SDK/Models/ChatRequest.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
Labels: sdk, sk, sample

bump 0.10.0-preview
  src/Directory.Build.props
Labels: none

bump 0.10.0-preview (#77)
  src/Directory.Build.props
Labels: none

bump sk to 1.0.0-rc1, km to 0.15
  Directory.Packages.props
  samples/ERNIE-Bot-Kernel-Memory.Sample/Program.cs
  samples/SK-ERNIE-Bot.Sample/Controllers/ApiController.cs
  samples/SK-ERNIE-Bot.Sample/Program.cs
  src/ERNIE-Bot.SDK/ModelEndpoints.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotAIRequestSettings.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatResult.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotEmbeddingGeneration.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotKernelBuilderExtensions.cs
  src/ERNIE-Bot.SemanticKernel/ExperimentalAttribute.cs
Labels: sdk, sk, sample

bump version 0.11
  src/Directory.Build.props
Labels: none

bump sk to 1.0.0-rc1, km to 0.15 (#78)
  Directory.Packages.props
  samples/ERNIE-Bot-Kernel-Memory.Sample/Program.cs
  samples/SK-ERNIE-Bot.Sample/Controllers/ApiController.cs
  samples/SK-ERNIE-Bot.Sample/Program.cs
  src/Directory.Build.props
  src/ERNIE-Bot.SDK/ModelEndpoints.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotAIRequestSettings.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatResult.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotEmbeddingGeneration.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotKernelBuilderExtensions.cs
  src/ERNIE-Bot.SemanticKernel/ExperimentalAttribute.cs
Labels: sdk, sk, sample

🔄 Rename ERNIEBotTextGeneration to ERNIEBotTextGenerator
  Directory.Packages.props
  samples/ERNIE-Bot-Kernel-Memory.Sample/Program.cs
  samples/SK-ERNIE-Bot.Sample/Controllers/ApiController.cs
  src/ERNIE-Bot.KernelMemory/ERNIEBotTextEmbeddingGenerator.cs
  src/ERNIE-Bot.KernelMemory/ERNIEBotTextGenerator.cs
  src/ERNIE-Bot.KernelMemory/KernelMemoryBuilderExtensions.cs
  src/ERNIE-Bot.SDK/ModelEndpoint.cs
  src/ERNIE-Bot.SDK/ModelEndpoints.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotKernelBuilderExtensions.cs
Labels: sdk, sk, sample

bump version 0.12
  src/Directory.Build.props
Labels: none

Bump SK to 1.0.0-rc3 , KM to 0.18 (#79)
  Directory.Packages.props
  samples/ERNIE-Bot-Kernel-Memory.Sample/Program.cs
  samples/SK-ERNIE-Bot.Sample/Controllers/ApiController.cs
  src/Directory.Build.props
  src/ERNIE-Bot.KernelMemory/ERNIEBotTextEmbeddingGenerator.cs
  src/ERNIE-Bot.KernelMemory/ERNIEBotTextGenerator.cs
  src/ERNIE-Bot.KernelMemory/KernelMemoryBuilderExtensions.cs
  src/ERNIE-Bot.SDK/ModelEndpoint.cs
  src/ERNIE-Bot.SDK/ModelEndpoints.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotKernelBuilderExtensions.cs
Labels: sdk, sk, sample

bump sk to 1.0.1 bump version to 0.13.0
  Directory.Packages.props
  samples/SK-ERNIE-Bot.Sample/Controllers/ApiController.cs
  samples/SK-ERNIE-Bot.Sample/Program.cs
  samples/SK-ERNIE-Bot.Sample/SK-ERNIE-Bot.Sample.csproj
  src/Directory.Build.props
  src/ERNIE-Bot.SemanticKernel/ERNIEBotAIRequestSettings.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatResult.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotEmbeddingGeneration.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotKernelBuilderExtensions.cs
  src/ERNIE-Bot.SemanticKernel/ExperimentalAttribute.cs
Labels: sk, sample

bump sk to 1.0.1 (#85)
  Directory.Packages.props
  samples/SK-ERNIE-Bot.Sample/Controllers/ApiController.cs
  samples/SK-ERNIE-Bot.Sample/Program.cs
  samples/SK-ERNIE-Bot.Sample/SK-ERNIE-Bot.Sample.csproj
  src/Directory.Build.props
  src/ERNIE-Bot.SemanticKernel/ERNIEBotAIRequestSettings.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatResult.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotEmbeddingGeneration.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotKernelBuilderExtensions.cs
  src/ERNIE-Bot.SemanticKernel/ExperimentalAttribute.cs
Labels: sk, sample

🔀 Update ERNIEBotChatCompletion message handling
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
Labels: sk

🔧 Update version to 0.13.1
  src/Directory.Build.props
Labels: none

🔀 Update ERNIEBotChatCompletion message handling (#95)
  src/Directory.Build.props
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
Labels: sk

🔧 Update ERNIE-Bot.SDK and sample projects
  Directory.Packages.props
  samples/ERNIE-Bot-Kernel-Memory.Sample/Program.cs
  samples/ERNIE-Bot.Sample/Controllers/ApiController.cs
  samples/SK-ERNIE-Bot.Sample/Controllers/ApiController.cs
  src/Directory.Build.props
  src/ERNIE-Bot.SDK/ModelEndpoints.cs
  src/ERNIE-Bot.SDK/Models/ChatRequest.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotAIRequestSettings.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatResult.cs
Labels: sdk, sk, sample

🔧 Update ERNIE-Bot.SDK and sample projects (#98)
  Directory.Packages.props
  samples/ERNIE-Bot-Kernel-Memory.Sample/Program.cs
  samples/ERNIE-Bot.Sample/Controllers/ApiController.cs
  samples/SK-ERNIE-Bot.Sample/Controllers/ApiController.cs
  src/Directory.Build.props
  src/ERNIE-Bot.SDK/ModelEndpoints.cs
  src/ERNIE-Bot.SDK/Models/ChatRequest.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotAIRequestSettings.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatResult.cs
Labels: sdk, sk, sample

🔀 Update package versions and project names
  Directory.Packages.props
  SK-ERNIE-Bot.sln
  samples/SK-ERNIE-Bot.Sample/ERNIE-Bot-Semantic-Kernel.Sample.csproj
  src/Directory.Build.props
  src/ERNIE-Bot.SDK/ModelEndpoints.cs
  tests/IntegrationTests/SDK/ChatCompletionStreamTest.cs
  tests/IntegrationTests/SDK/ChatCompletionTest.cs
  tests/IntegrationTests/SDK/ChatCompletionTestEndpoints.cs
Labels: sdk, test, sample

🔀 Update package versions and project names (#99)
  Directory.Packages.props
  SK-ERNIE-Bot.sln
  samples/SK-ERNIE-Bot.Sample/ERNIE-Bot-Semantic-Kernel.Sample.csproj
  src/Directory.Build.props
  src/ERNIE-Bot.SDK/ModelEndpoints.cs
  tests/IntegrationTests/SDK/ChatCompletionStreamTest.cs
  tests/IntegrationTests/SDK/ChatCompletionTest.cs
  tests/IntegrationTests/SDK/ChatCompletionTestEndpoints.cs
Labels: sdk, test, sample

🔧 Update ERNIE Bot SDK dependencies
  Directory.Packages.props
  samples/SK-ERNIE-Bot.Sample/ERNIE-Bot-Semantic-Kernel.Sample.csproj
  src/ERNIE-Bot.SDK/ModelEndpoints.cs
  src/ERNIE-Bot.SDK/Models/ChatRequest.cs
Labels: sdk, sample

🔄 Rename TokenResponse to AccessTokenResponse
  src/ERNIE-Bot.SDK/ERNIEBotClient.cs
  src/ERNIE-Bot.SDK/Models/AccessTokenResponse.cs
Labels: sdk

🔧 Update ERNIE Bot SDK dependencies (#100)
  Directory.Packages.props
  samples/SK-ERNIE-Bot.Sample/ERNIE-Bot-Semantic-Kernel.Sample.csproj
  src/ERNIE-Bot.SDK/ERNIEBotClient.cs
  src/ERNIE-Bot.SDK/ModelEndpoints.cs
  src/ERNIE-Bot.SDK/Models/AccessTokenResponse.cs
  src/ERNIE-Bot.SDK/Models/ChatRequest.cs
Labels: sdk, sample

🔧 Fix SendAsync method in ERNIEBotClient.cs
  Directory.Packages.props
  samples/SK-ERNIE-Bot.Sample/ERNIE-Bot-Semantic-Kernel.Sample.csproj
  src/Directory.Build.props
  src/ERNIE-Bot.SDK/ERNIEBotClient.cs
Labels: sdk, sample

🔧 Fix SendAsync method in ERNIEBotClient.cs (#104)
  Directory.Packages.props
  samples/SK-ERNIE-Bot.Sample/ERNIE-Bot-Semantic-Kernel.Sample.csproj
  src/Directory.Build.props
  src/ERNIE-Bot.SDK/ERNIEBotClient.cs
Labels: sdk, sample

🔧 Fix async/await configuration in ERNIE-Bot.SDK and ERNIE-Bot.SemanticKernel
  Directory.Packages.props
  SK-ERNIE-Bot.sln
  samples/SK-ERNIE-Bot.Sample/ERNIE-Bot-Semantic-Kernel.Sample.csproj
  src/.editorconfig
  src/Directory.Build.props
  src/ERNIE-Bot.KernelMemory/ERNIEBotTextEmbeddingGenerator.cs
  src/ERNIE-Bot.SDK/DistributedTokenStore.cs
  src/ERNIE-Bot.SDK/ERNIEBotClient.cs
  src/ERNIE-Bot.SDK/HttpClientProvider.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotEmbeddingGeneration.cs
Labels: sdk, sk, sample

🔧 Fix async/await configuration in ERNIE-Bot.SDK and ERNIE-Bot.SemanticKernel (#105)
  Directory.Packages.props
  SK-ERNIE-Bot.sln
  samples/SK-ERNIE-Bot.Sample/ERNIE-Bot-Semantic-Kernel.Sample.csproj
  src/.editorconfig
  src/ERNIE-Bot.KernelMemory/ERNIEBotTextEmbeddingGenerator.cs
  src/ERNIE-Bot.SDK/DistributedTokenStore.cs
  src/ERNIE-Bot.SDK/ERNIEBotClient.cs
  src/ERNIE-Bot.SDK/HttpClientProvider.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotEmbeddingGeneration.cs
Labels: sdk, sk, sample

Update Directory.Build.props
  src/Directory.Build.props
Labels: none

fix IAsyncEnumable Configure Await
  src/Directory.Build.props
  src/ERNIE-Bot.SDK/ERNIEBotClient.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
Labels: sdk, sk

fix IAsyncEnumable Configure Await (#106)
  src/Directory.Build.props
  src/ERNIE-Bot.SDK/ERNIEBotClient.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
Labels: sdk, sk
