Repository custouch/semantic-kernel-ERNIE-Bot, changes with the labels that .github/labeler.yml gives for each.
All labels: sdk, sk, document, test, sample

.github/labeler.yml:

sdk:
  - src/ERNIE-BOT.SDK/**
  - tests/ERNIE-Bot.SDK.Tests/**

sk:
  - src/Connectors.AI.ERNIE-Bot/**
  - tests/Connectors.AI.ERNIE-Bot.Tests/**

document:
  - docs/**

test:
  - tests/**

sample:
  - samples/**

update dotnet-pr
  .github/workflows/dotnet.yml
Labels: none

..
  .github/workflows/dotnet.yml
Labels: none

Create Semantic Kernel Connector (#12)
  SK-ERNIE-Bot.sln
  samples/SK-ERNIE-Bot.Sample/Controllers/ApiController.cs
  samples/SK-ERNIE-Bot.Sample/Controllers/Models/UserInput.cs
  samples/SK-ERNIE-Bot.Sample/Program.cs
  samples/SK-ERNIE-Bot.Sample/Properties/launchSettings.json
  samples/SK-ERNIE-Bot.Sample/SK-ERNIE-Bot.Sample.csproj
  samples/SK-ERNIE-Bot.Sample/appsettings.Development.json
  samples/SK-ERNIE-Bot.Sample/appsettings.json
  src/Connectors.AI.ERNIE-Bot/Connectors.AI.ERNIE-Bot.csproj
  src/Connectors.AI.ERNIE-Bot/ERNIEBotChatCompletion.cs
  src/Connectors.AI.ERNIE-Bot/ERNIEBotChatResult.cs
  src/Connectors.AI.ERNIE-Bot/ERNIEBotEmbeddingGeneration.cs
  src/Connectors.AI.ERNIE-Bot/ERNIEBotKernelBuilderExtensions.cs
  src/Connectors.AI.ERNIE-Bot/ERNIEBotTurboChatCompletion.cs
  src/ERNIE-Bot.SDK/ERNIEBotClient.cs
  tests/Connectors.AI.ERNIE-Bot.Tests/Connectors.AI.ERNIE-Bot.Tests.csproj
  tests/Connectors.AI.ERNIE-Bot.Tests/Usings.cs
Labels: sk, test, sample

add semantic skill sample
  samples/SK-ERNIE-Bot.Sample/Controllers/ApiController.cs
  samples/SK-ERNIE-Bot.Sample/SK-ERNIE-Bot.Sample.csproj
Labels: sample

release 0.2.0-preview
  Directory.Packages.props
  NuGet.config
  README.md
  SK-ERNIE-Bot.sln
  samples/ERNIE-Bot.Sample/ERNIE-Bot.Sample.csproj
  samples/SK-ERNIE-Bot.Sample/SK-ERNIE-Bot.Sample.csproj
  src/Connectors.AI.ERNIE-Bot/Connectors.AI.ERNIE-Bot.csproj
  src/Directory.Build.props
  src/ERNIE-Bot.SDK/ERNIE-Bot.SDK.csproj
  src/ERNIE-Bot.SDK/readme.md
  src/ERNIE-Bot.SemanticKernel/ERNIE-Bot.SemanticKernel.csproj
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatResult.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotEmbeddingGeneration.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotKernelBuilderExtensions.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotTurboChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/readme.md
  tests/ERNIE-Bot.SDK.Tests/ERNIE-Bot.SDK.Tests.csproj
  tests/ERNIE-Bot.SemanticKernel.Tests/ERNIE-Bot.SemanticKernel.Tests.csproj
  tests/ERNIE-Bot.SemanticKernel.Tests/Usings.cs
Labels: sdk, sk, test, sample

update readme.md
  README.md
  src/ERNIE-Bot.SDK/readme.md
  src/ERNIE-Bot.SemanticKernel/readme.md
Labels: none

Release 0.2.0 (#15)
  Directory.Packages.props
  NuGet.config
  README.md
  SK-ERNIE-Bot.sln
  samples/ERNIE-Bot.Sample/ERNIE-Bot.Sample.csproj
  samples/SK-ERNIE-Bot.Sample/Controllers/ApiController.cs
  samples/SK-ERNIE-Bot.Sample/SK-ERNIE-Bot.Sample.csproj
  src/Connectors.AI.ERNIE-Bot/Connectors.AI.ERNIE-Bot.csproj
  src/Directory.Build.props
  src/ERNIE-Bot.SDK/ERNIE-Bot.SDK.csproj
  src/ERNIE-Bot.SDK/readme.md
  src/ERNIE-Bot.SemanticKernel/ERNIE-Bot.SemanticKernel.csproj
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatResult.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotEmbeddingGeneration.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotKernelBuilderExtensions.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotTurboChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/readme.md
  tests/ERNIE-Bot.SDK.Tests/ERNIE-Bot.SDK.Tests.csproj
  tests/ERNIE-Bot.SemanticKernel.Tests/ERNIE-Bot.SemanticKernel.Tests.csproj
  tests/ERNIE-Bot.SemanticKernel.Tests/Usings.cs
Labels: sdk, sk, test, sample

Update dependabot.yml
  .github/dependabot.yml
Labels: none

Update dependabot.yml (#16)
  .github/dependabot.yml
Labels: none

add ernie error catch
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotEmbeddingGeneration.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotTurboChatCompletion.cs
Labels: none

ERNIEBotError to Exception Message
  src/ERNIE-Bot.SDK/Models/ERNIEBotError.cs
Labels: none

add error logger add messeage Organize
  Directory.Packages.props
  samples/ERNIE-Bot.Sample/Controllers/ApiController.cs
  samples/ERNIE-Bot.Sample/Controllers/Models/UserInput.cs
  samples/ERNIE-Bot.Sample/Program.cs
  src/ERNIE-Bot.SDK/ERNIE-Bot.SDK.csproj
  src/ERNIE-Bot.SDK/ERNIEBotClient.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotKernelBuilderExtensions.cs
Labels: sample

only remove the first message role is not user
  src/ERNIE-Bot.SDK/ERNIEBotClient.cs
Labels: none

add ernie error catch (#21)
  Directory.Packages.props
  samples/ERNIE-Bot.Sample/Controllers/ApiController.cs
  samples/ERNIE-Bot.Sample/Controllers/Models/UserInput.cs
  samples/ERNIE-Bot.Sample/Program.cs
  src/ERNIE-Bot.SDK/ERNIE-Bot.SDK.csproj
  src/ERNIE-Bot.SDK/ERNIEBotClient.cs
  src/ERNIE-Bot.SDK/Models/ERNIEBotError.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotEmbeddingGeneration.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotKernelBuilderExtensions.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotTurboChatCompletion.cs
Labels: sample

release 0.2.1
  src/Directory.Build.props
  src/ERNIE-Bot.SDK/ERNIE-Bot.SDK.csproj
  src/ERNIE-Bot.SDK/readme.md
  src/ERNIE-Bot.SemanticKernel/ERNIE-Bot.SemanticKernel.csproj
  src/ERNIE-Bot.SemanticKernel/readme.md
Labels: none

release 0.2.1 (#22)
  src/Directory.Build.props
  src/ERNIE-Bot.SDK/ERNIE-Bot.SDK.csproj
  src/ERNIE-Bot.SDK/readme.md
  src/ERNIE-Bot.SemanticKernel/ERNIE-Bot.SemanticKernel.csproj
  src/ERNIE-Bot.SemanticKernel/readme.md
Labels: none

Simplified the constructor of the client.
  samples/ERNIE-Bot.Sample/Program.cs
  src/ERNIE-Bot.SDK/DefaultTokenStore.cs
  src/ERNIE-Bot.SDK/DistributedTokenStore.cs
  src/ERNIE-Bot.SDK/ERNIEBotClient.cs
  src/ERNIE-Bot.SDK/HttpClientProvider.cs
  src/ERNIE-Bot.SDK/MemoryTokenStore.cs
  src/ERNIE-Bot.SDK/readme.md
  tests/ERNIE-Bot.SDK.Tests/ERNIEBotClientTests.cs
Labels: sdk, test, sample

Simplified the configuration of the ERNIEBotClient
  samples/SK-ERNIE-Bot.Sample/Program.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotKernelBuilderExtensions.cs
  src/ERNIE-Bot.SemanticKernel/readme.md
Labels: sample
