Repository custouch/semantic-kernel-ERNIE-Bot, changes with the labels that .github/labeler.yml gives for each.
All labels: sdk, sk, document, test, sample

.github/labeler.yml:

sdk:
  - src/ERNIE-BOT.SDK/**
  - tests/ERNIE-Bot.SDK.Tests/**

sk:
  - src/ERNIE-Bot.SemanticKernel/**
  - tests/ERNIE-Bot.SemanticKernel.Tests/**

document:
  - docs/**
  - '**/*.md'

test:
  - tests/**

sample:
  - samples/**

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Labels: document

Create CODE_OF_CONDUCT.md (#25)
  CODE_OF_CONDUCT.md
Labels: document

Update SK Version
  Directory.Packages.props
Labels: none

Update SK Version (#26)
  Directory.Packages.props
Labels: none

feat: add bloomz-7b model api
  samples/ERNIE-Bot.Sample/Controllers/ApiController.cs
  src/ERNIE-Bot.SDK/Defaults.cs
  src/ERNIE-Bot.SDK/ERNIEBotClient.cs
  src/ERNIE-Bot.SDK/Models/ChatResponse.cs
Labels: sample
