Repository custouch/semantic-kernel-ERNIE-Bot, changes with the labels that .github/labeler.yml gives for each.
All labels: sdk, sk, documentation, test, sample

fix: cancellationToken
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotEmbeddingGeneration.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotTurboChatCompletion.cs
Labels: sk

Simplified build method (#33)
  src/Directory.Build.props
  src/ERNIE-Bot.SemanticKernel/ERNIEBotKernelBuilderExtensions.cs
Labels: sk

update sk version
  Directory.Packages.props
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatResult.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotEmbeddingGeneration.cs
Labels: sk

update version
  src/Directory.Build.props
Labels: none

fix: embedding sample api
  samples/SK-ERNIE-Bot.Sample/Controllers/ApiController.cs
Labels: sample

update sk version 0.21 (#38)
  Directory.Packages.props
  samples/SK-ERNIE-Bot.Sample/Controllers/ApiController.cs
  src/Directory.Build.props
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatResult.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotEmbeddingGeneration.cs
Labels: sk, sample

🔧 Update ERNIE-Bot SDK and sample controllers
  samples/ERNIE-Bot.Sample/Controllers/ApiController.cs
  samples/SK-ERNIE-Bot.Sample/Controllers/ApiController.cs
  samples/SK-ERNIE-Bot.Sample/Program.cs
  src/Directory.Build.props
  src/ERNIE-Bot.SDK/Defaults.cs
  src/ERNIE-Bot.SDK/ERNIEBotClient.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatResult.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotKernelBuilderExtensions.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotTurboChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/readme.md
  tests/ERNIE-Bot.SDK.Tests/ERNIEBotClientTests.cs
Labels: sdk, sk, documentation, test, sample

🔧 Update ERNIE-Bot SDK and add Llama-2 Model (#40)
  samples/ERNIE-Bot.Sample/Controllers/ApiController.cs
  samples/SK-ERNIE-Bot.Sample/Controllers/ApiController.cs
  samples/SK-ERNIE-Bot.Sample/Program.cs
  src/Directory.Build.props
  src/ERNIE-Bot.SDK/Defaults.cs
  src/ERNIE-Bot.SDK/ERNIEBotClient.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatResult.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotKernelBuilderExtensions.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotTurboChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/readme.md
  tests/ERNIE-Bot.SDK.Tests/ERNIEBotClientTests.cs
Labels: sdk, sk, documentation, test, sample

🔀 Update ERNIE-Bot SDK version and add IntegrationTests project
  Directory.Packages.props
  SK-ERNIE-Bot.sln
  src/Directory.Build.props
  src/ERNIE-Bot.SDK/Defaults.cs
  src/ERNIE-Bot.SDK/ERNIEBotClient.cs
  src/ERNIE-Bot.SDK/ModelEndpoint.cs
  src/ERNIE-Bot.SDK/ModelEndpoints.cs
  src/ERNIE-Bot.SDK/TokenStore/DefaultTokenStore.cs
  src/ERNIE-Bot.SDK/TokenStore/ITokenStore.cs
  src/ERNIE-Bot.SDK/TokenStore/MemoryTokenStore.cs
  src/ERNIE-Bot.SDK/readme.md
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotKernelBuilderExtensions.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotTurboChatCompletion.cs
  tests/IntegrationTests/IntegrationTests.csproj
  tests/IntegrationTests/SDK/ChatCompletionStreamTest.cs
  tests/IntegrationTests/SDK/ChatCompletionTest.cs
  tests/IntegrationTests/SDK/EmbeddingTest.cs
  tests/IntegrationTests/Usings.cs
Labels: sdk, sk, documentation, test

update github action
  .github/workflows/dotnet.yml
Labels: none

update Endpoint
  samples/ERNIE-Bot.Sample/Controllers/ApiController.cs
  src/ERNIE-Bot.SDK/Defaults.cs
  src/ERNIE-Bot.SDK/ERNIEBotClient.cs
  src/ERNIE-Bot.SDK/ModelEndpoint.cs
  src/ERNIE-Bot.SDK/ModelEndpoints.cs
  src/ERNIE-Bot.SDK/readme.md
  tests/IntegrationTests/SDK/EmbeddingTest.cs
Labels: sdk, documentation, test, sample

update readme
  src/ERNIE-Bot.SDK/readme.md
Labels: sdk, documentation

Update package versions, add IntegrationTests project, and enhance ERNIE-Bot.SDK functionality (#43)
  .github/workflows/dotnet.yml
  Directory.Packages.props
  SK-ERNIE-Bot.sln
  samples/ERNIE-Bot.Sample/Controllers/ApiController.cs
  src/Directory.Build.props
  src/ERNIE-Bot.SDK/Defaults.cs
  src/ERNIE-Bot.SDK/ERNIEBotClient.cs
  src/ERNIE-Bot.SDK/ModelEndpoint.cs
  src/ERNIE-Bot.SDK/ModelEndpoints.cs
  src/ERNIE-Bot.SDK/TokenStore/DefaultTokenStore.cs
  src/ERNIE-Bot.SDK/TokenStore/ITokenStore.cs
  src/ERNIE-Bot.SDK/TokenStore/MemoryTokenStore.cs
  src/ERNIE-Bot.SDK/readme.md
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotKernelBuilderExtensions.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotTurboChatCompletion.cs
  tests/IntegrationTests/IntegrationTests.csproj
  tests/IntegrationTests/SDK/ChatCompletionStreamTest.cs
  tests/IntegrationTests/SDK/ChatCompletionTest.cs
  tests/IntegrationTests/SDK/EmbeddingTest.cs
  tests/IntegrationTests/Usings.cs
Labels: sdk, sk, documentation, test, sample

update sk to 0.22
  Directory.Packages.props
  src/Directory.Build.props
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotEmbeddingGeneration.cs
Labels: sk

update sk to 0.22 (#44)
  Directory.Packages.props
  src/Directory.Build.props
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotEmbeddingGeneration.cs
Labels: sk

update semantic kernel to 1.0.0-beta
  Directory.Packages.props
  samples/SK-ERNIE-Bot.Sample/Controllers/ApiController.cs
  samples/SK-ERNIE-Bot.Sample/Program.cs
  samples/SK-ERNIE-Bot.Sample/SK-ERNIE-Bot.Sample.csproj
  src/ERNIE-Bot.SemanticKernel/ERNIE-Bot.SemanticKernel.csproj
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotKernelBuilderExtensions.cs
Labels: sk, sample

🔧 Update ERNIEBotChatCompletion.cs
  Directory.Packages.props
  samples/ERNIE-Bot.Sample/Controllers/ApiController.cs
  samples/SK-ERNIE-Bot.Sample/Controllers/ApiController.cs
  samples/SK-ERNIE-Bot.Sample/Plugins/Demo/Translate/config.json
  samples/SK-ERNIE-Bot.Sample/Plugins/Demo/Translate/skprompt.txt
  samples/SK-ERNIE-Bot.Sample/Program.cs
  samples/SK-ERNIE-Bot.Sample/SK-ERNIE-Bot.Sample.csproj
  src/ERNIE-Bot.SemanticKernel/ERNIEBotAIRequestSettings.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatResult.cs
Labels: sk, sample

update version
  src/Directory.Build.props
Labels: none

update readme.md
  src/ERNIE-Bot.SemanticKernel/readme.md
Labels: sk, documentation

update semantic kernel to 1.0.0-beta (#49)
  Directory.Packages.props
  samples/ERNIE-Bot.Sample/Controllers/ApiController.cs
  samples/SK-ERNIE-Bot.Sample/Controllers/ApiController.cs
  samples/SK-ERNIE-Bot.Sample/Plugins/Demo/Translate/config.json
  samples/SK-ERNIE-Bot.Sample/Plugins/Demo/Translate/skprompt.txt
  samples/SK-ERNIE-Bot.Sample/Program.cs
  samples/SK-ERNIE-Bot.Sample/SK-ERNIE-Bot.Sample.csproj
  src/Directory.Build.props
  src/ERNIE-Bot.SemanticKernel/ERNIE-Bot.SemanticKernel.csproj
  src/ERNIE-Bot.SemanticKernel/ERNIEBotAIRequestSettings.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatResult.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotKernelBuilderExtensions.cs
  src/ERNIE-Bot.SemanticKernel/readme.md
Labels: sk, documentation, sample

📝 Add ERNIE-Bot Kernel Memory sample and project files
  Directory.Packages.props
  SK-ERNIE-Bot.sln
  samples/ERNIE-Bot-Kernel-Memoy.Sample/ERNIE-Bot-Kernel-Memoy.Sample.csproj
  samples/ERNIE-Bot-Kernel-Memoy.Sample/Program.cs
  samples/ERNIE-Bot-Kernel-Memoy.Sample/sample-SK-Readme.pdf
  src/ERNIE-Bot.KernelMemory/ERNIE-Bot.KernelMemory.csproj
  src/ERNIE-Bot.KernelMemory/ERNIEBotTextEmbeddingGeneration.cs
  src/ERNIE-Bot.KernelMemory/ERNIEBotTextGeneration.cs
  src/ERNIE-Bot.KernelMemory/MemoryClientBuilderExtensions.cs
  src/ERNIE-Bot.KernelMemory/readme.md
Labels: documentation, sample

🔀 Add ERNIE Bot 4 model.
  samples/ERNIE-Bot.Sample/Controllers/ApiController.cs
  src/ERNIE-Bot.SDK/ModelEndpoints.cs
Labels: sdk, sample

🔀 Add ERNIE Bot 4 model. (#56)
  samples/ERNIE-Bot.Sample/Controllers/ApiController.cs
  src/ERNIE-Bot.SDK/ModelEndpoints.cs
Labels: sdk, sample

fix typo
  SK-ERNIE-Bot.sln
  samples/ERNIE-Bot-Kernel-Memory.Sample/ERNIE-Bot-Kernel-Memory.Sample.csproj
  samples/ERNIE-Bot-Kernel-Memory.Sample/Program.cs
  samples/ERNIE-Bot-Kernel-Memory.Sample/sample-SK-Readme.pdf
Labels: sample

clean program
  samples/ERNIE-Bot-Kernel-Memory.Sample/Program.cs
Labels: sample

update package to KernelMemory
  Directory.Packages.props
  samples/ERNIE-Bot-Kernel-Memory.Sample/Program.cs
  src/ERNIE-Bot.KernelMemory/ERNIE-Bot.KernelMemory.csproj
  src/ERNIE-Bot.KernelMemory/ERNIEBotTextGeneration.cs
  src/ERNIE-Bot.KernelMemory/MemoryClientBuilderExtensions.cs
Labels: sample

use delayHttpHandler to avoid qps error
  samples/ERNIE-Bot-Kernel-Memory.Sample/DelayHttpHandler.cs
  samples/ERNIE-Bot-Kernel-Memory.Sample/Program.cs
  src/ERNIE-Bot.KernelMemory/readme.md
Labels: documentation, sample

MemoryClientBuilder -> KernelMemoryBuilder
  src/ERNIE-Bot.KernelMemory/KernelMemoryBuilderExtensions.cs
Labels: none

📝 Add ERNIE-Bot Kernel Memory (#55)
  Directory.Packages.props
  SK-ERNIE-Bot.sln
  samples/ERNIE-Bot-Kernel-Memory.Sample/DelayHttpHandler.cs
  samples/ERNIE-Bot-Kernel-Memory.Sample/ERNIE-Bot-Kernel-Memory.Sample.csproj
  samples/ERNIE-Bot-Kernel-Memory.Sample/Program.cs
  samples/ERNIE-Bot-Kernel-Memory.Sample/sample-SK-Readme.pdf
  src/ERNIE-Bot.KernelMemory/ERNIE-Bot.KernelMemory.csproj
  src/ERNIE-Bot.KernelMemory/ERNIEBotTextEmbeddingGeneration.cs
  src/ERNIE-Bot.KernelMemory/ERNIEBotTextGeneration.cs
  src/ERNIE-Bot.KernelMemory/KernelMemoryBuilderExtensions.cs
  src/ERNIE-Bot.KernelMemory/readme.md
Labels: documentation, sample

feat: Use Polly to implement retry to avoid qps error
  .gitignore
  Directory.Packages.props
  src/ERNIE-Bot.KernelMemory/ERNIE-Bot.KernelMemory.csproj
  src/ERNIE-Bot.KernelMemory/ERNIEBotTextEmbeddingGeneration.cs
Labels: none

feat: Reduce "max token 384" error - In GenerateEmbeddingsAsync, the data from kernel-memory will be divided into up to 16 parts before request - Add huge pdf sample
  samples/ERNIE-Bot-Kernel-Memory.Sample/Program.cs
  samples/ERNIE-Bot-Kernel-Memory.Sample/muduo.pdf
  src/ERNIE-Bot.KernelMemory/ERNIEBotTextEmbeddingGeneration.cs
Labels: sample

chore: Add muduo.pdf to ERNIE-Bot-Kernel-Memory.Sample project
  samples/ERNIE-Bot-Kernel-Memory.Sample/ERNIE-Bot-Kernel-Memory.Sample.csproj
Labels: sample

📝 Add Tokenizer class for text tokenization
  src/ERNIE-Bot.SDK/Tokenizer.cs
  tests/ERNIE-Bot.SDK.Tests/TokenizerTests.cs
Labels: sdk, test

🔧 Update Tokenizer to improve token counting accuracy
  src/ERNIE-Bot.SDK/Tokenizer.cs
Labels: sdk

fix unicode
  tests/ERNIE-Bot.SDK.Tests/TokenizerTests.cs
Labels: sdk, test

Add Tokenizer Helper class to ERNIE-Bot.SDK (#61)
  src/ERNIE-Bot.SDK/Tokenizer.cs
  tests/ERNIE-Bot.SDK.Tests/TokenizerTests.cs
Labels: sdk, test

update sk beta6
  Directory.Packages.props
  samples/SK-ERNIE-Bot.Sample/Controllers/ApiController.cs
  samples/SK-ERNIE-Bot.Sample/Program.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatCompletion.cs
  src/ERNIE-Bot.SemanticKernel/ERNIEBotChatResult.cs
Labels: sk, sample

update kernel memory version
  Directory.Packages.props
Labels: none

🔀 Update version to 0.8.0-preview
  src/Directory.Build.props
Labels: none

Nuget Build CI
  .github/workflows/nuget-build.yml
  samples/ERNIE-Bot-Kernel-Memory.Sample/ERNIE-Bot-Kernel-Memory.Sample.csproj
  samples/ERNIE-Bot.Sample/ERNIE-Bot.Sample.csproj
  samples/SK-ERNIE-Bot.Sample/SK-ERNIE-Bot.Sample.csproj
Labels: sample

.github/labeler.yml:

sdk:
  - src/ERNIE-Bot.SDK/**
  - tests/ERNIE-Bot.SDK.Tests/**

sk:
  - src/ERNIE-Bot.SemanticKernel/**
  - tests/ERNIE-Bot.SemanticKernel.Tests/**

documentation:
  - docs/**
  - '**/*.md'

test:
  - tests/**

sample:
  - samples/**
